header
	a(href="/")
		img(src="/img/logo_metrocinemas.png")
	form.buscar(method="get" action="/buscar")
		input(type="text" name="q" placeholder="Buscar Película..." required)
		button(type="submit")
			i.fas.fa-search
	nav
		ul
			li
				a(href="/") Inicio
			li
				a(href="/funciones") Funciones
			//- li
				a(href="funciones") Funciones