header
	a(href="#")
		img(src="/img/logo_metrocinemas.png")
	form.buscar
		input(type="text" name="p" placeholder="Buscar Película..." required)
		button(type="submit")
			i.fas.fa-search
	nav
		ul
			li
				a(href="#") Inicio
			li
				a(href="#") Cartelera