doctype
html
	head
		include include/head
	body#funciones
		include include/header
		.container
			h1 Funciones
			.funciones
				h2 {{ $movie->name }}
				.poster
					img(src!="{{$movie->poster}}")
				.horarios
					@foreach($functions as $function)
					@if($function->movie->id == $movie->id)
					a(href="#") {{$function->schedule}}
					@endif
					@endforeach
		include include/footer