doctype
html
	head
		include include/head
	body#funciones
		include include/header
		.container
			h1 Funciones
			@if($functions->isEmpty())
			p No hay funciones que mostrar
			@else
			@foreach($movies as $movie)
			.funciones
				h2 {{ $movie->name }}
				.poster
					img(src!="{{$movie->poster}}")
				.horarios
					@foreach($functions as $function)
					@if($function->movie->id == $movie->id)
					a(href!="/funciones/{{$movie->slug}}/{{$function->id}}") {{$function->schedule}}
					@endif
					@endforeach
			@endforeach
			@endif
		include include/footer