doctype
html
	head
		include include/head
	body#home
		include include/header
		h1
			a(href="cartelera") Ver cartelera completa
		.peliculas
			@foreach($movies as $movie)
			.pelicula
				a(href!="pelicula/{{$movie->slug}}")
					img(src!="{{ $movie->poster }}")
				h2 {{ $movie->name }}
				a.boton(href!="funciones/{{$movie->slug}}") Comprar boletos
			@endforeach
		.ubicanos
			#map

		include include/footer