doctype
html
	head
		include include/head
	body#pelicula
		include include/header
		.container
			.poster
				img(src!="{{$movie->poster}}" alt!="{{$movie->name}}")
				a.boton(href!="/funciones/{{$movie->slug}}") ¡Comprar boletos!
			.info
				h1 {{$movie->name}}
				p
					b Director: 
					| {{$movie->director->name}}
				p 
					b Duración: 
					| {{$movie->duration}} min
				p
					b Año: 
					| {{$movie->year}}
				p
					b Género:
					| 
					@foreach($genres as $genre)
						@if($loop->index < count($genres) - 1)
							{{$genre->name}}
							| ,
						@else
							{{$genre->name}}
						@endif
					@endforeach
				p
					b Reparto: 
					|
					@foreach($actors as $actor)
						@if($loop->index < count($actors) - 1)
							{{$actor->name}}
							| ,
						@else
							{{$actor->name}}
						@endif
					@endforeach
				p
					b País: 
					| {{$movie->country->name}}
				h2 Sinopsis
				p {{$movie->synopsis}}
				h2 Trailer
				@if(json_decode($movie->trailer)->provider == 'youtube')
				iframe(width="560" height="315" src!="https://www.youtube.com/embed/{{json_decode($movie->trailer)->id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				@elseif(json_decode($movie->trailer)->provider == 'vimeo')
				iframe(src!="https://player.vimeo.com/video/{{json_decode($movie->trailer)->id}}" width="640" height="266" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
				@endif


		include include/footer
