- arr = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'];
doctype
html
	head
		include include/head
	body#seats
		include include/header

		.container
			h1 Elige tus asientos
			.asientos
				@php
					{{$y = 0;}}
					{{$arr = array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J');}}
					{{$asientos=json_decode($seats[0]->seats);}}
				@endphp
				@for($x = 0; $x < 100; $x++)
					@if($asientos[$x] != 'true')
					p {{$asientos[$x]}}
					span.seat
						i.fa.fa-star
						p {{$y}}
					@else
					span.seat.ocupado
						i.fa.fa-star
						p {{$y}}
					@endif
					<? if($y == 10) ?>
					<? $y = 0; ?>
					<? esle ?>
					<? $y++; ?>
					@endphp
				@endfor

			button(type="submit") Continuar
			p(hidden) {{ json_decode($seats[0])->seats }}
		include include/footer